
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
    DatabaseEntities shop = new DatabaseEntities();
}
@using WebOnline.Models
@model List<WebOnline.Models.SanPham>
<link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />
<h1 class="page-header">
    <a href="/QLSanPham/ThemSp" class="btn btn-outline btn-primary">Thêm</a>
</h1>
<script type="text/javascript">
    $(document).ready(function() {
        $('.xoasp').off('click').on('click', function (e) {
            e.preventDefault();
            var id = $(this).data('id');
            var result = confirm("Bạn có muốn xóa hay không?");
            if (result) {
                $.ajax({
                url: '@Url.Action("XoaSp")',
                data: { id: id },
                type: "POST",
                success: function (data) {
                    var json = JSON.parse(data);
                    alert(json);
                    window.location.reload();
                },
                error: function (err) {
                    alert("Đã xảy ra lỗi" + err.responseText);
                }
            });
            }

        });
    });
</script>
<div class="dataTable_wrapper">
    <table class="table table-striped table-bordered table-hover" id="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Tên </th>
                <th>Hãng</th>
                <th>Ảnh</th>
                <th>Số lượng</th>
                <th>Giá nhập</th>
                <th>Giá bán</th>
                <th>Ngày đăng</th>
                <th>Sửa</th>
                <th>Xóa</th>
            </tr>
        </thead>
        <tbody>

            @for (int i = 0; i < Model.Count; i++)
            {
                if (i % 2 == 0)
                {
                    <tr class="even gradeA">
                        <td>@Model[i].MaSP</td>
                        <td>@Model[i].TenSP</td>
                        <td>@Model[i].LoaiSP.TenLoaiSP</td>
                        <td><img src="@Model[i].Anh" style="width: 50px; height: 50px;" /></td>
                        <td>@Model[i].SoLuong</td>
                        <td>@Model[i].GiaNhap</td>
                        <td>@Model[i].GiaBan</td>
                        <td>@Model[i].NgayDang</td>
                        <td><a href="/QLSanPham/SuaSp/@Model[i].MaSP" class="btn btn-outline btn-primary">Sửa</a></td>
                        <td><a href="#" data-id="@Model[i].MaSP" class=" xoasp btn btn-outline btn-primary">Xóa</a></td>
                    </tr>
                }
                else
                {
                    <tr class="odd gradeA">
                        <td>@Model[i].MaSP</td>
                        <td>@Model[i].TenSP</td>
                        <td>@Model[i].LoaiSP.TenLoaiSP</td>
                        <td><img src="@Model[i].Anh" style="width: 50px; height: 50px;" /></td>
                        <td>@Model[i].SoLuong</td>
                        <td>@Model[i].GiaNhap</td>
                        <td>@Model[i].GiaBan</td>
                        <td>@Model[i].NgayDang</td>
                        <td><a href="/QLSanPham/SuaSp/@Model[i].MaSP" class="btn btn-outline btn-primary">Sửa</a></td>
                        <td><a href="#" data-id="@Model[i].MaSP" class="xoasp btn btn-outline btn-primary">Xóa</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>



